
<div class="mt-4">
    <div class="row">

        <div class="col-lg-3">
            <p>
                Area show img
            </p>
        </div>

         <div class="col-lg-9">
            <p>{{product.name}}</p>
             <p>{{product.des}}</p>

             <div style="text-align: end; margin-top: 50px">
            <button>
                Add to Cart
            </button>
        </div>

        </div>
    </div>
    
</div>

 